.services {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
    overflow: hidden;
    background: radial-gradient(ellipse at top, #012260 10%, transparent 60%);

    @media (max-width: 991px) {
        flex-direction: column;
        align-items: center;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(ellipse at top, #012260 10%, transparent 60%);
        pointer-events: none;
    }
}
