.header {
    min-height: 75px;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(ellipse at top, #023aa0 0%, #000f2b 70%);

    @media (max-width: 1760px) {
        // flex-direction: column;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__logo {
        height: 50px;
        width: 50px;
    }

    &__title {
        padding: 0 10px;
        font-size: 26px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        white-space: nowrap;
        cursor: default;

        span {
            color: #51a4da;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 20px;

        @media (max-width: 1760px) {
            // flex-direction: column;
            // width: 100%;
        }
    }

    &__nav {
        display: flex;
        font-size: 16px;
        line-height: 1;
        gap: 20px;
    }

    &__Link {
        &:hover {
            text-decoration: underline;
        }
    }

    &__emergency {
        position: relative;
        font-size: 16px;
        height: 100%;

        &:hover {
            .header__emergency-icon {
                animation: shake 0.5s;
                animation-iteration-count: infinite;
            }
        }
    }

    &__emergency-icon {
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        height: 40px;
        width: 40px;
        margin-right: 5px;
        border-radius: 50%;
        background: radial-gradient(ellipse at top left, #1661ee 0%, #00266d 80%);
        display: flex;
        align-items: center;
        justify-content: center;
        animation: none;
        animation-delay: 2s;
    }

    &__emergency-info {
        margin-left: 50px;
        font-family: "Arial", sans-serif;
    }

    &__emergency-number {
        font-size: 18px;
        font-weight: bold;
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateY(-50%) rotate(0deg);
    }
    25% {
        transform: translateY(-50%) rotate(-10deg);
    }
    50% {
        transform: translateY(-50%) rotate(10deg);
    }
    75% {
        transform: translateY(-50%) rotate(-10deg);
    }
}
