.mw1200 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.split {
    position: relative;
    z-index: 20;
    height: 5px;
    background-color: #cfcfcf;
    background: radial-gradient(ellipse at center, #ffffff 40%, transparent 70%);
}
