.app {
    min-height: 100vh;
    color: white;
    font-family: Oswald, sans-serif;
    position: relative;
    background: radial-gradient(ellipse at center, #053b9e 0%, #000f2b 90%);

    &__container {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100px;
        left: 0;
        right: 0;
        width: 100%;
        margin: 0 auto;
        background-color: #000f2b;
        box-shadow: 0px 0px 20px 5px #000f2b;
        white-space: nowrap;
    }

    &__services {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 10;
        overflow: hidden;
        background: radial-gradient(ellipse at top, #012260 10%, transparent 60%);

        // &::after {
        //     content: "";
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background: radial-gradient(ellipse at top, #012260 10%, transparent 60%);
        //     pointer-events: none;
        // }
    }

    &__footer {
        margin: 10px 0;
        font-size: 14px;
        color: #ffffff;
        text-align: center;
    }
}
