.app {
    min-height: 100vh;
    color: white;
    font-family: Oswald, sans-serif;
    position: relative;
    background: radial-gradient(ellipse at center, #053b9e 0%, #000f2b 90%);
    display: flex;
    flex-direction: column;
    padding-top: 100px;

    @media (max-width: 1200px) {
        padding-top: 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #000f2b;
        box-shadow: 0px 0px 20px 5px #000f2b;
        white-space: nowrap;
        flex: 1;

        @media (max-width: 1200px) {
            top: 0;
        }
    }

    &__main {
        flex: 1;
    }
}
