*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

video {
    border: 0;
    outline: none;
}

img {
    outline: none;
    max-width: 100%;
}

button {
    font: inherit;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    cursor: pointer;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
    margin: 0;
}

p {
    margin: 0 0 16px;
}

input,
textarea {
    outline: none;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: block;
    resize: none;
}
