.banner {
    max-width: 2400px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: relative;
    min-height: 500px;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #000f2b, #000f2beb 30%, transparent 100%);
        z-index: 1;
        pointer-events: none;

        @media (max-width: 575px) {
            background: radial-gradient(ellipse at center, #000f2b84 70%);
        }
    }

    &__bg {
        position: absolute;
        display: block;
        top: -20px;
        left: 50px;
        right: 50px;
        width: 110%;
        object-fit: cover;
        height: 550px;

        @media (max-width: 1200px) {
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 500px;
        z-index: 2;

        @media (max-width: 1200px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
        padding: 0 20px;
        width: 100%;
        text-align: center;
    }

    &__title {
        margin: 10px auto;
        font-size: 58px;
        font-weight: bold;
        color: #ffffff;
        text-transform: capitalize;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;

        @media (max-width: 575px) {
            font-size: 36px;
        }
    }

    &__subtitle {
        margin: 10px auto;
        font-size: 24px;
        color: #95c1e4;
        text-transform: capitalize;
        white-space: normal;
    }

    &__master {
        display: block;
        position: absolute;
        right: 0;
        bottom: -30px;
        height: 100%;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    &__buttons {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 20px;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
    }
}
